.search-box {
  background-color: #f6f6f6;
  height: 35px;
  line-height: 35px;
  width: 80%;
  margin: 10px auto;
  padding: 0 8px;
  border-radius: 5px;

  label {
    margin-left: 10px;
    font-size: 14px;
    color: #666;
  }
}
